<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        <a href="https://github.com/itu-p1203/itu-p1203/" class="btn">P.1203 Software</a>
        <a href="https://github.com/itu-p1203/open-dataset/" class="btn">Open Dataset</a>
        <a href="https://github.com/Telecommunication-Telemedia-Assessment/itu-p1203-codecextension" class="btn">Codec Extension</a>
    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
          <span class="site-footer-credits">Copyright &copy; Audiovisual Technology Group, TU Ilmenau</span>
      </footer>
    </section>
  </body>
</html>